window {
    margin: 25px;
		border: 1px solid #141415;
		border-radius: 15px;
    background-color: #141415;
    font-family: "SF Pro Rounded";
    font-size: 16px;
		font-weight: 700;
}

#outer-box {
    margin: 5px;
    border: none;
		border-radius: 10px;
    background-color: #141415;
}

#input {
    margin: 10px;
    border: none;
    color: #cdcdcd;
    background-color: #252530;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #141415;
}

#entry:selected {
    background-color: #252530;
    border-radius: 5px;
		margin: 5px;
}

#text {
    margin: 5px;
    border: none;
    color: #cdcdcd;
}

#text:selected {
    color: #aeaed1;
}

#img {
    margin-right: 10px;
    background: transparent;
}

#entry {
    padding: 5px;
}
